<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto 3</title>
    <meta name="author" content="Time de CC Projeto 3"/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">A Brasfi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/hubsDeNetworking">Como Atuamos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Faça Parte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fale Conosco</a>
        </li>
    </ul>
</nav>-->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<head>
    <title>Content page</title>
</head>

<body>
    <section layout:fragment="content">
        <h1>Hubs de networking</h1>
    </section>
</body>
</html>
