.sobre-container {
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  position: relative;
  z-index: 1;
}

.sobre-content {
  max-width: 900px;
  color: #111;
  font-family: 'Louis George Cafe', sans-serif;
}

.sobre-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.sobre-content h1 .green {
  color: #215757;
}

.sobre-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.redes-sociais {
  position: fixed;
  bottom: 20px;
  right: 10em;
  z-index: 1001;
  text-align: center;
  font-family: 'Louis George Cafe', sans-serif;
}

.redes-sociais::before {
  content: "Redes Sociais";
  display: block;
  font-size: 26px;
  font-weight: bold;
  color: #215757;
  margin-bottom: 6px;
}

.redes-sociais a {
  color: #215757;
  text-decoration: none;
  margin-right: 15px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.redes-sociais a:hover {
  color: #4CAF50;
}