<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BRASFI</title>
  <link rel="stylesheet" th:href="@{/css/agenda.css}" />
  <link rel="stylesheet" th:href="@{/css/home.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <link rel="icon" type="image/jpg" href="img/brasfi.jpg">
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="logo-section">
        <div class="brasfi-logo">BRASFI</div>
        <img src="/img/brasfi.jpg" alt="Logo BRASFI" class="brasfi-icon">
      </div>
      <div class="user-section">
        <a href="/login" class="login-button">Login</a>
      </div>
    </div>

    <div class="menu-container">
        <div class="menu-toggle-bar" id="menu-toggle-bar">
            <button class="menu-toggle-button" id="menu-toggle-button">
                <i class="fas fa-angle-down"></i>
            </button>
            <ul class="menu" id="main-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre a BRASFI</a></li>
                <li><a href="/agenda">Agenda de Eventos</a></li>
                <li><a href="#">Eventos Gravados</a></li>
                <li><a href="#">Comunidade</a></li>
            </ul>
        </div>
    </div>
  </header>

  <div class="eventos">
  	<div class="eventos-header">
          <h1>Eventos Agendados</h1>
          <div class="event-actions">
              <a href="/novoEvento" class="create-event-button">Criar Novo Evento</a>
          </div>
      </div>

      <ul class="eventos-list">
        <li th:each="evento : ${eventos}" class="evento-card">
            <div class="evento-details">
                <p><strong>Nome do Evento:</strong> <span th:text="${evento.titulo}"></span></p>
                <p><strong>Data:</strong> <span th:text="${#temporals.format(evento.dataEvento, 'dd/MM/yyyy')}"></span></p>
                <p><strong>Participantes:</strong> <span th:text="${evento.convidados}"></span></p>
                <p><strong>Categoria:</strong> <span th:text="${evento.categoria}"></span></p>
                <p><strong>Conteúdo:</strong> <span th:text="${evento.conteudo}"></span></p>
            </div>
            <div class="evento-actions">
                <a th:href="@{/eventos/editar/{id}(id=${evento.id})}" class="edit-event-button">
                    <i class="fas fa-edit"></i> Editar
                </a>
                <form th:action="@{/eventos/excluir/{id}(id=${evento.id})}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir este evento?');">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="delete-event-button">
                        <i class="fas fa-trash-alt"></i> Excluir
                    </button>
                </form>
            </div>
        </li>
      </ul>
  </div>

<div class="ajuda">
<a href="/ajuda">Ajuda</a>
</div>
<script th:src="@{/js/inicio.js}"></script> </body>
</html>