<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BRASFI</title>
  <link rel="stylesheet" href="css/home.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <link rel="icon" type="image/jpg" href="img/brasfi.jpg">
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="logo-section">
        <div class="brasfi-logo">BRASFI</div>
        <img src="/img/brasfi.jpg" alt="Logo BRASFI" class="brasfi-icon">
      </div>
      <div class="user-section">
        <a href="/login" class="login-button">Login</a>
      </div>
    </div>

    <div class="menu-container">
        <div class="menu-toggle-bar" id="menu-toggle-bar">
            <button class="menu-toggle-button" id="menu-toggle-button">
                <i class="fas fa-angle-down"></i>
            </button>
            <ul class="menu" id="main-menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">Sobre a BRASFI</a></li>
                <li><a href="#">Agenda de Eventos</a></li>
                <li><a href="#">Eventos Gravados</a></li>
                <li><a href="#">Comunidade</a></li>
            </ul>
        </div>
    </div>
  </header>
<h1>Eventos Agendados</h1>
<ul th:each="evento : ${eventos}">
  <li th:text=" 'Nome: ' + ${evento.titulo}"></li>
  <li th:text=" 'Data: ' + ${evento.dataEvento}"></li>
  <li th:text=" 'Convidados: ' + ${evento.convidados}"></li>
  <li th:text=" 'Categoria: ' + ${evento.categoria}"></li>
  <br>
</ul>
<script src="js/inicio.js"></script>
</body>
</html>
