<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRASFI</title>
    <link rel="stylesheet" th:href="@{/css/loginRegister.css}"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="icon" type="image/jpg" th:href="@{/img/brasfi.jpg}"> </head>
<body>
    <div class="form-container">
        <div class="login-container">
            <h2>Login</h2>
            <form th:action="@{/login}" method="POST">
                <div th:if="${param.error}" class="error-message">
                    Email ou senha inválidos.
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="username" required placeholder="Digite seu email">
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required placeholder="Digite sua senha">
                </div>
                <button type="submit">Entrar</button>
            </form>
            <div class="links">
                <a href="#">Esqueceu a senha?</a>
            </div>
            <div class="register-link">
                <p>Ainda não tem uma conta? <a th:href="@{/register}">Registre-se aqui</a></p> </div>
        </div>
    </div>
</body>
</html>