<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BRASFI</title>
  <link rel="stylesheet" th:href="@{/css/sobre.css}" />
  <link rel="stylesheet" th:href="@{/css/home.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="icon" type="image/jpg" th:href="@{/img/brasfi.jpg}">
  <link rel="stylesheet" th:href="@{/css/ajuda.css}" />
  <style>
    .role-icon {
        margin-right: 5px;
       color: #6c757d;
    }

    .admin-check-icon {
        color: #6c757d;
    }

    .user-dot-icon {
        color: #6c757d; 
    }
  </style>
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="logo-section">
        <div class="brasfi-logo">BRASFI</div>
        <img th:src="@{/img/brasfi.jpg}" alt="Logo BRASFI" class="brasfi-icon" />
      </div>
      <div class="user-section">
        <div sec:authorize="isAuthenticated()" class="logged-in-container">
          <span class="logged-in-username">
            <th:block sec:authorize="hasRole('ADMIN')">
                <i class="fas fa-check admin-check-icon" title="Administrador"></i>
            </th:block>
            <th:block sec:authorize="hasRole('MANAGER') and !hasRole('ADMIN')">
                <i class="fas fa-star role-icon" title="Gerente"></i>
            </th:block>
            <th:block sec:authorize="!hasAnyRole('ADMIN', 'MANAGER')">
                <i class="far fa-circle user-dot-icon" title="Usuário Comum"></i>
            </th:block>
            <span sec:authentication="principal.name">Nome do Usuário</span>
            <span class="user-icon"><i class="fas fa-user-circle"></i></span>
          </span>
          <a th:href="@{/logout}" class="logout-button">Sair</a>
        </div>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="login-button">Login</a>
      </div>
    </div>

    <div class="menu-container">
        <div class="menu-toggle-bar">
            <button class="menu-open-button" id="menu-open-button">
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
        <ul class="menu" id="main-menu">
            <button class="menu-close-button" id="menu-close-button">
                <i class="fas fa-angle-up"></i>
            </button>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/sobre}">Sobre a BRASFI</a></li>
            <li><a th:href="@{/agenda}">Agenda de Eventos</a></li>
            <li><a th:href="@{/eventosGravados}">Eventos Gravados</a></li>
            <li><a th:href="@{/comunidades}">Comunidade</a></li>
        </ul>
    </div>
  </header>

  <main class="sobre-container">
    <section class="sobre-content">
      <h1><span class="bold">Sobre a</span> <span class="green">BRASFI</span></h1>

<p>Somos uma organização focada no avanço de finanças e investimentos sustentáveis. A BRASFI iniciou sua trajetória em 2020 como a Aliança Brasileira de Pesquisa em Finanças e Investimentos Sustentáveis, iniciada por um grupo de pesquisadores na Bahia dedicados à discussão de artigos científicos e pesquisas na área.</p>	  
	  
      <p>
        Com o passar do tempo, com a adição valiosa de profissionais do mercado e do setor corporativo, a BRASFI evoluiu para além de um foco puramente em pesquisa. Hoje, estamos dedicados a desenvolver um ecossistema dinâmico de profissionais nesta área crucial.
      </p>
      <p>
       Nosso foco principal é promover o desenvolvimento de soluções e projetos relacionados a finanças e investimentos sustentáveis, bem como disseminar conhecimento essencial neste setor em rápido crescimento.
      </p>
      <p>
       Estamos comprometidos em estabelecer uma presença digital sólida e forte para reforçar a nossa autoridade institucional e facilitar a comunicação com todos os nossos stakeholders.
      </p>
<p>
	Em essência, a BRASFI é a sua rede de profissionais – pesquisadores, especialistas de mercado, líderes corporativos, voluntários e parceiros – todos trabalhando juntos para impulsionar finanças e investimentos sustentáveis. Somos guiados pelo nosso propósito, missão, valores e cultura (que serão mais detalhados), esforçando-se para criar um impacto positivo e contribuir para um futuro mais sustentável.
</p>


      <div class="redes-sociais">
        <a href="https://www.instagram.com/brasfi_/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/brasfi" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://open.spotify.com/show/5rtlL3dVTPE5B3zzW9Ltu5?si=6c079fd18269451e" target="_blank"><i class="fab fa-spotify"></i></a>
        <a href="https://www.youtube.com/channel/UCCN4DtzVfGLxUrIaP8p7tgA/sub_confirmation%3D1" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
	  
    </section>
  </main>

  <div class="ajuda">
      <a href="javascript:void(0);" onclick="abrirAjuda()">Ajuda</a>
  </div>

  <div id="help-overlay" onclick="fecharAjuda()">
      <div id="help-box" onclick="event.stopPropagation()">
          <span class="close-help" onclick="fecharAjuda()">×</span>
          <h2>Dúvidas Frequentes</h2>

          <button class="help-question" onclick="mostrarResposta(0)">
              <i class="fas fa-sign-in-alt"></i> Dificuldade com login
          </button>
          <div class="help-answer">
              Verifique seu e-mail e senha. Caso tenha esquecido, entre em contato via contato@brasfi.com
          </div>

          <button class="help-question" onclick="mostrarResposta(1)">
              <i class="fas fa-user-plus"></i> Como se cadastrar?
          </button>
          <div class="help-answer">
              Para criar uma conta é necessário ser um membro BRASFI, entre em contato diretamente com a gente
          </div>

          <button class="help-question" onclick="mostrarResposta(2)">
              <i class="fas fa-comments"></i> Comunidade
          </button>
          <div class="help-answer">
             Nós temos um meio de comunicação interno para membros
          </div>

          <button class="help-question" onclick="mostrarResposta(3)">
              <i class="fas fa-seedling"></i> Projetos sustentáveis
          </button>
          <div class="help-answer">
              Nossos projetos estão relacionados diretamente no ensino de finanças sustentáveis
          </div>

          <button class="help-question" onclick="mostrarResposta(4)">
              <i class="fas fa-calendar-alt"></i> Agenda de eventos
          </button>
          <div class="help-answer">
              Visite a página de eventos para visualizar as próximas datas e conteúdos gravados.
          </div>
      </div>
  </div>
  </div>
  <script th:src="@{/js/inicio.js}"></script>
  <script>
    function abrirAjuda() {
        document.getElementById('help-overlay').style.display = 'flex';
    }

    function fecharAjuda() {
        document.getElementById('help-overlay').style.display = 'none';
        document.querySelectorAll('.help-answer').forEach(el => el.style.display = 'none');
    }

    function mostrarResposta(index) {
        const respostas = document.querySelectorAll('.help-answer');
        respostas.forEach((el, i) => el.style.display = i === index ? 'block' : 'none');
    }
  </script>
</body>
</html>